:root{
    --primary-color:#1abc9c;
    --secondary-color:#2c3e50;   
}
header,
footer{
    background-color:var(--secondary-color);
}

#start,
#about{
    background-color:var(--primary-color);
}

#portfolio,
#contact{
    color: var(--secondary-color)
}